<%= simple_form_for(@destino) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nome %>
    <%= f.input :email %>
    <%= f.input :celular %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
